{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}
  
<div class="content-wrapper"> 
  <section class="content">
    <div class="card">
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Add New Image</legend>
              <div class="input-group mb-3">
                {% render_field form.title class="form-control" placeholder="Title" %}
              </div>
              {{form.image}}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
        
{% endblock content %}