{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
 
{% block content %}
  
<div class="content-wrapper">
  <section class="content">
    <div class="card">
      <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group ">
              <legend class="border-bottom mb-4">Add Stuff</legend>
              {{u_form|crispy}}
              <div class="input-group mb-3">
                {% render_field u_form.username class="form-control" placeholder="Username" %}
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                {% render_field u_form.email class="form-control" placeholder="Email" %}

                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                {% render_field u_form.is_staff id='staff' %}
                <div style="margin-left: 5px;">Staff status</div>
              </div>

              <div class="input-group mb-3">
                {% render_field u_form.password1 class="form-control" placeholder="Password" %}

                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                {% render_field u_form.password2 class="form-control" placeholder="Comfirm Password" %}

                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
        
{% endblock content %}