{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<style type="text/css">
  tr:nth-child(even) {
    background-color: #454d55;
  }
  tr:hover {
    opacity: 0.5;
  }
  .backgrod_u:hover {
    text-decoration: underline;
    color: blue;
  }

  tr button a {
    color: white;
  }

  .backgrody:hover {
    background-color: gray;
    padding-right: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    width: 25px;
    height: auto;
  }

  .backgrods:hover {
    background-color: gray;
    padding-left: 1px;
    padding-bottom: 2px;
    border-radius: 5px;
    width: 25px;
    height: auto;
  }

  /* .backgrodx {
    background-color: #454d55;
    border-radius: 4px;
    padding: 5px;
    height: 30px;
  }

  .cross {
    color: white;
  }

  .cross:hover {
    color: #343a40;
  }

  .head {
    color: blue;
    background-color: #2b3035;
    border-top-left-radius: 5px;
  }

  .backgroid {
    width: auto;
  }

  .borderd {
    border-top-left-radius: 4px;
  }

  .borderr {
    border-top-right-radius: 4px;
  } */
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Availabe Staffs</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active">Available Staffs</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <!-- /.card -->

            <div class="card">

              <div class="card-header">
                <h3 class="card-title">
      
                  
                
                </h3>
      
                <div class="card-tools">
                    <div >
                      <div class="modal fade span-12" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content" style="padding: 15px;">
                            <div class="modal-header text-center">
                              <h4 class="modal-title w-100 font-weight-bold">Enter Staff Details</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                                <!-- Form Starts here -->
      
                                <form action="#" method="post">
                                  {% csrf_token %}
                                  <fieldset>
                                    <div class="input-group mb-3">
                                      {% render_field u_form.username class="form-control" placeholder="Username" %}
                                      <div class="input-group-append">
                                        <div class="input-group-text">
                                          <span class="fas fa-user"></span>
                                        </div>
                                      </div>
                                    </div>
        
                                    <div class="input-group mb-3">
                                      {% render_field u_form.email class="form-control" placeholder="Email" %}

                                      <div class="input-group-append">
                                        <div class="input-group-text">
                                          <span class="fas fa-envelope"></span>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="input-group mb-3">
                                      {% render_field u_form.is_staff id='staff' %}
                                      <div style="margin-left: 5px;">Staff status</div>
                                    </div>
                                    
                                    <div class="input-group mb-3">
                                      {% render_field u_form.password1 class="form-control" placeholder="Password" %}

                                      <div class="input-group-append">
                                        <div class="input-group-text">
                                          <span class="fas fa-phone"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="input-group mb-3">
                                      {% render_field u_form.password2 class="form-control" placeholder="Comfirm Password" %}
                                    </div>
                                    
                                    <div class="row">
                                      <!-- <div class="col-8">
                                        <div class="icheck-primary">
                                          <input type="checkbox" id="agreeTerms" >

                                          <label for="agreeTerms">
                                          I agree to the <a href="#">terms</a>
                                          </label>
                                        </div>
                                      </div> -->
                                      <!-- /.col -->
                                      <div class="col-4">
                                        <!-- <button type="submit" id="register" name="create" class="btn btn-primary btn-block">Register</button> -->
                                      </div>
                                      <!-- /.col -->
                                    </div>
                                  </fieldset>
      
                                  <div class="modal-footer d-flex justify-content-center">
                                    <button type="submit" id="register" name="create" class="btn btn-primary btn-block">SAVE</button>
                                  </div>
      
                                </form>
      
                              
                            
       
                          </div>
                        </div>
                    </div>
      
                    <div class="text-center">
                      <a href="" class="btn btn-default" data-toggle="modal" data-target="#modalRegisterForm"><i class="nav-icon fas fa-plus" style="margin-right: 5px;"></i>Add Staff</a>
                    </div>
                  </div>
                </button>
                </div>
              </div>





              


             <!--  <div class="card-header">
                <h3 class="card-title">DataTable with staff features</h3>
              </div> -->
              <!-- /.card-header -->
              <div class="card-body" style="overflow-x: scroll;">
                <table cellpadding="4" cellspacing="10">
            <thead>
              <tr class="head">
                <th class="borderr" bgcolor="#2b3035" width="2000" scope="col">USERNAME</th>
                <th width="300" bgcolor="#2b3035" scope="col">FIRST NAME</th>
                <th width="300" bgcolor="#2b3035" scope="col">ROLE</th>
                <th width="300" bgcolor="#2b3035" colspan="4" scope="col">IS_STAFF</th>
              </tr>
            </thead>
            <tbody>
              {% for s in stuff %}
                {% if s.is_staff == True %}
                <tr cellspacing="10">
                  <td width="2000" scope="col">
                    <a style="color: white;" href="{% url 'update-stuff' s.id %}" title="">
                      <div class="backgrod_u">
                        {{s.username}}
                      </div>
                    </a>
                  </dh>

                  <td width="300" scope="col">
                    <a style="color: white;" href="{% url 'update-stuff' s.id %}" title="">
                      <div class="backgrodx">
                        {{s.email}}
                      </div>
                    </a>
                  </td>

                  <td width="300" scope="col">
                    <a style="color: white;" href="{% url 'update-stuff' s.id %}" title="">
                      <div class="backgrod">
                        {{s.profile.role}}
                      </div>
                    </a>
                  </td>

                  <td width="300" scope="col">
                    <a style="color: white;" href="{% url 'update-stuff' s.id %}" title="">
                      <div class="backgrodx">
                        {{s.is_staff}}
                      </div>
                    </a>
                  </td>

                  <td width="50">
                    <div class="backgrody">
                      <button type="button" class="btn btn-tool" title="Remove">
                        <a class="cross" href="{% url 'update-stuff' s.id %}" title=""><i class="fas fa-edit"></i></a>
                      </button>
                    </div>
                  </td>
                  <td width="50">
                    <div class="backgrods">
                      <button type="button" class="btn btn-tool" title="Remove">
                        <a class="cross" href="{% url 'delete-stuff' s.id %}" title=""><i class="fas fa-times"></i></a>
                      </button>
                    </div>
                  </td>
                </tr>
                {% else %}

                {% endif %}
              {% endfor %}
            </tbody>
          </table>
                <div class="container">
      <br />
      
      <!-- <div align="right" style="margin-bottom:5px;">
      <button type="submit" name="add" id="add" class="btn btn-success btn-xs">Add</button>
      </div> -->
      <div class="table-responsive" id="user_data">
        
      </div>
      <br />
    </div>
    
    <!-- <div id="user_dialog" title="Add Data">
      <form method="post" id="user_form">
        <div class="form-group">
          <label>Enter First Name</label>
          <input type="text" name="name" id="name" class="form-control" />
          <span id="error_name" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label>Enter Last Name</label>
          <input type="text" name="email" id="email" class="form-control" />
          <span id="error_email" class="text-danger"></span>
        </div>
        <div class="form-group">
          <input type="hidden" name="action" id="action" value="insert" />
          <input type="hidden" name="hidden_id" id="hidden_id" />
          <input type="submit" name="form_action" id="form_action" class="btn btn-info" value="Insert" />
        </div>
      </form>
    </div>
    
    <div id="action_alert" title="Action">
      
    </div>
    
    <div id="delete_confirmation" title="Confirmation">
    <p>Are you sure you want to Delete this data?</p>
    </div>
 -->


<!-- End CRUD script -->




              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock content %}
