{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Gallery</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../pages/examples/lockscreen.html">Logout</a></li>
              <li class="breadcrumb-item active">Gallery</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fiuld">
        <div class="row">
          <div class="col-12">
            <div class="modal fade span-12" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
              <div class="modal-content" style="padding: 15px;">
                  <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Enter Photo Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                      <!-- Form Starts here -->

                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                          <div class="input-group mb-3">
                            {% render_field form.title class="form-control" placeholder="Photo Title" %}
                          </div>
                            {{form.image}}
                          <div class="row">
                            <div class="col-8">
                              <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                I agree to the <a href="#">terms</a>
                                </label>
                              </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                              <!-- <button type="submit" id="register" name="create" class="btn btn-primary btn-block">Register</button> -->
                            </div>
                            <!-- /.col -->
                          </div>
                        </fieldset>

                        <div class="modal-footer d-flex justify-content-center">
                          <button type="submit" id="register" name="create" class="btn btn-primary btn-block">SAVE</button>
                        </div>

                      </form>
                </div>
              </div>
          </div>
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h4 class="card-title">Project Photos</h4>
              </div>
              <div class="card-body">
                <div>
                  <div class="mb-2">
                    <!-- <a class="btn btn-secondary" href="javascript:void(0)" data-shuffle>Shuffle</a> -->

                    <div class="float-right">
                      <div class="btn-group">
                        <a class="btn btn-default" href="javascript:void(0)" data-sortDesc class="btn btn-block btn-primary" data-toggle="modal" data-target="#modalRegisterForm">
                          <i class="nav-icon fas fa-plus" style="margin-right: 5px;"></i>
                          Add Photo
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="filter-container p-0 row">
                    {% for i in images %}
                      <div class="col-sm-2">
                        <a href="{{i.image.url}}" title="" data-toggle="lightbox" data-title="{{i.title}}">
                          <img src="{{i.image.url}}" alt="{{i.title}}" data-toggle="lightbox" class="img-fluid mb-2 mr-2" width="150" height="10">
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}
