{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}
  
<div class="content-wrapper">
  <div class="post-card">
    <form action="" method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Update Stuff</legend>
          <div class="input-group mb-3">
            {% render_field form.stuff id="username" class="form-control" placeholder="Username" %}
          </div>

          <div class="input-group mb-3">
            {% render_field form.first_name id="first"  class="form-control" placeholder="First Name" %}
          </div>

          <div class="input-group mb-3">
            {% render_field form.second_name id="second" class="form-control" placeholder="Second Name" %}
          </div>

          <div class="input-group mb-3">
            {% render_field form.email id="email" class="form-control" placeholder="Email" %}
          </div>

          <div class="input-group mb-3">
            {% render_field form.phone id="phone" class="form-control" type="tel" placeholder="Phone Number" %}
          </div>

          <div class="input-group mb-3">
            {% render_field form.role id="role"  class="form-control" placeholder="Role" %}
          </div>
      </fieldset>
      <div class="form-group" style="left: auto;" >
          <button class="btn btn-outline-info" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>
        
{% endblock content %}